-var navegadores = ["Tienda","Nosotros"];
-var url = ["index.html", "nosotros.html"];
-var nombre = ["VueJS","AngularJS", "ReactJS", "Redux", "NodeJS", "SASS", "HTML5", "Github", "BulmaCSS", "TypeScript", "Drupal", "JavaScript", "GraphQL", "Wordpress"];
<!--mixin para productos-->
mixin caja(imagen, nombre, precio,)
	.producto
		a(href="producto.html")
			img.producto__imagen(src="../img/"+imagen alt=nombre)
			.producto__info
				p.producto__nombre=nombre
				p.producto__precio=precio

mixin nav(nav, enlace,)
		a(class="nav__enlace" href=enlace)=nav

doctype html
html(lang="es")
	head
		title Frontend Store
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', href='../css/principal.css')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap")
		link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Oswald:400,500,600,700&display=swap" )
		script(src='https://kit.fontawesome.com/552ebddad2.js')
	body